{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<form action="{{ url_for('cliente.formCliente') }}" method="GET">
    <h1>Clientes</h1>
    <button type="submit" class="register-button btn btn-primary" name="formNovo">Novo Cliente</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
        </tr>
    </thead>
    <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
            <th scope="row">##</th>
            <td>{{row['nome']}}</td>
            <td>{{row['cpf']}}</td>
            <td>{{row['telefone']}}</td>
            <td>
                <form action="{{ url_for('cliente.formEditCliente') }}" method="POST"
                    name="formEdit{{ row['id_cliente'] }}">
                    <input type="hidden" name="id" value="{{ row['id_cliente'] }}">
                    <button type="submit" name="formEditCliente"> <i class="fas fa-edit"></i></button>
                </form>
            </td>
            <td>
                <form method='POST' action="{{ url_for('cliente.delete') }}" name='jsDelete' id='jsDelete'>
                    <input type='hidden' name='id' value="{{ row['id_cliente'] }}">
                    <button type='submit' name='formDeleteCliente' class='btn'><i class='fas fa-trash'></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
<ul>
</ul>
{% endblock %}