<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - AbcBolinhas</title>

    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.5.2-web/css/all.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index.formIndex') }}">AbcBolinhas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.formIndex') }}"><i class="fas fa-home"></i>
                            HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('funcionario.formListaFuncionario') }}"><i
                                class="fas fa-cart-arrow-down"></i> FUNCIONÁRIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cliente.formListaCliente') }}"><i
                                class="fas fa-users"></i> CLIENTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('produto.formListaProduto') }}"><i
                                class="fas fa-pizza-slice"></i> PRODUTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login.logoff') }}"><i class="fas fa-door-open"></i>
                            SAIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        {% block content %}{% endblock %}
        <br><br><br>
    </div>

    <footer class="footer mt-auto py-3 bg-dark text-white text-center">
        <div class="container">
            <span class="text-muted">&copy; 2024 by AbcBolinhas</span>
        </div>
    </footer>

    {% block js %}{% endblock %}
    <script src="{{ url_for('static', filename='bootstrap-5.3.3-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.5.2-web/js/all.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- redirect - request.args.get('msg' ou 'msgErro') -->
    {% if request.args.get('msg'): %}
    <h3>{{ request.args.get('msg') }}</h3><br>
    <script>
        Swal.fire("Sucesso", "{{ request.args.get('msg') }}", "success");
    </script>
    {% elif request.args.get('msgErro'): %}
    <h3>{{ request.args.get('msgErro') }}</h3><br>
    <script>
        Swal.fire("Erro", "{{ request.args.get('msgErro') }}", "error");
    </script>
    <!-- render_template - msg ou msgErro -->
    {% elif msg: %}
    <h3>{{ msg }}</h3><br>
    <script>
        Swal.fire("ID {{ msg.id }}, {{ msg.msg }} ", "{{ msg }}", "success");
    </script>
    {% elif msgErro: %}
    <h3>{{ msgErro }}</h3><br>
    <script>
        Swal.fire("{{ msgErro.msg if msgErro.msg else 'Erro' }}", "{{ msgErro }}", "error");
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    {% endif %}
</body>

</html>