{% extends "base.html" %}

{% block title %}Funcionário{% endblock %}

{% set id = result[0].id_funcionario if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set matricula = result[0].matricula if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set telefone = result[0].telefone if result else '' %}
{% set grupo = result[0].grupo if result else '' %}
{% set senha = result[0].senha if result else '' %}

{% block content %}
<div class="container mt-5">
    <h3 class="d-flex justify-content-center mb-5">Funcionário - {{ "%s: %s" % ('Editar Registro', id) if result else
        'Novo' }}</h3>
    <form name="{{ 'formEditar' if result else 'formAdicionar' }}"
        id="{{ 'formEditar' if result else 'formAdicionar' }}" class="row was-validated"
        action="{{ url_for('funcionario.edit') if result else url_for('funcionario.insert') }}" method="POST">

        <div class="form-group mb-3">
            <label for="id" class="form-label">Código</label>
            <input type="text" class="form-control" name="id" id="id" value="{{ id }}" placeholder="Código" readonly>
        </div>

        <div class="form-group mb-3">
            <label for="nome" class="form-label">Nome Funcionário</label>
            <input type="text" class="form-control" name="nome" id="nome" value="{{ nome }}"
                placeholder="Nome Funcionário" maxlength="100" autofocus required>
            <div class="invalid-feedback">Por favor, insira o nome do funcionário.</div>
        </div>

        <div class="form-group mb-3">
            <label for="matricula" class="form-label">Matrícula</label>
            <input type="text" class="form-control" name="matricula" id="matricula" value="{{ matricula }}"
                placeholder="Matrícula" maxlength="15" required>
            <div class="invalid-feedback">Por favor, insira a matrícula.</div>
        </div>

        <div class="form-group mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" name="cpf" id="cpf" value="{{ cpf }}" placeholder="CPF"
                maxlength="15" required>
            <div class="invalid-feedback">Por favor, insira o CPF.</div>
        </div>

        <div class="form-group mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="tel" class="form-control" name="telefone" id="telefone" value="{{ telefone }}"
                placeholder="Telefone" maxlength="15" required>
            <div class="invalid-feedback">Por favor, insira o telefone.</div>
        </div>

        <div class="form-group mb-3">
            <label for="grupo" class="form-label">Grupo</label>
            <select class="form-select" name="grupo" id="grupo" aria-label="Grupo" required>
                <option value="0" {{ 'selected' if grupo==0 else '' }}>Atendente</option>
                <option value="1" {{ 'selected' if grupo==1 else '' }}>Caixa</option>
                <option value="2" {{ 'selected' if grupo==2 else '' }}>Adm</option>
            </select>
            <div class="invalid-feedback">Por favor, selecione um grupo.</div>
        </div>

        <div class="form-group mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" name="senha" id="senha" value="{{ senha }}" placeholder="Senha"
                required>
            <div class="invalid-feedback">Por favor, insira a senha.</div>
        </div>

        <div class="form-group mb-3">
            <label for="resenha" class="form-label">Senha Novamente</label>
            <input type="password" class="form-control" name="resenha" id="resenha" value="{{ senha }}"
                placeholder="Senha" required>
            <div class="invalid-feedback">Por favor, confirme a senha.</div>
        </div>

        <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB' class="btn btn-outline-success btn-lg">
            <i class='fas fa-save'></i> Salvar
        </button>
    </form>
</div>


{% endblock %}